body {
	position: relative;
	width: 100%;
	height: 100vh;
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #535353;
	margin: 0;
}

main {
	float: left;
	display: block;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.width-100 {
	width: 100% !important;
}

.hr {
	width: 100%;
	height: 1px;
	background-color: #F5F5F5;
	margin: 25px 0;
}

.mt-0{
	margin-bottom: 0;
}

.text-yellow {
	color: #FFC21D;
}

.text-blue {
	color: #78849E;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #1a0f66;
	color: #fff;
	width: auto;
	min-width: 300px;
	padding: 12px 22px;
	border-radius: 7px;
	border: 0;
	position: relative;
	background-image: url('../images/left-arrow.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

select:focus {
	outline: none;
}

.form-custom {
	width: 100%;
	display: block;
	height: 50px;
	border-radius: 50px;
	box-shadow: none;
	border: 1px solid #D3D3D3;
	padding: 0 25px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.form-custom:focus,
.form-custom:active {
	outline: none;
}

.form-serch {
	background-image: url('../images/icon-search.png');
	background-repeat: no-repeat;
	background-position: 5% center;
}

.form-serch {
	padding-left: 45px;
}

.btn {
	padding: 10px 25px;
	border-radius: 24px;
	color: #fff;
	cursor: pointer;
}

.btn-gray {
	background-color: #CDCDCD;
}

.btn-gray:hover,
.btn-gray:focus {
	background-color: #1B1464;
	outline: none;
}

.text-center {
	text-align: center;
}

.main {
	padding: 0 60px;
}

#wrapper-head {
	position: relative;
}

#header.main:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 450px;
	left: 0;
	background: #2c3192;
	background: linear-gradient(90deg, #2c3192 0%, #32c4f3 80%);
	background: -webkit-linear-gradient(90deg, #2c3192 0%, #32c4f3 80%);
	background: -moz-linear-gradient(90deg, #2c3192 0%, #32c4f3 80%);
	z-index: 0;
}

#header .logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: -60px;
	width: 140px;
	position: relative;
}

#header .nav {
	position: relative;
	display: inline-block;
}

#header .nav ul li {
	display: inline-block;
}

#header .nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 0 15px;
	letter-spacing: 1px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#header .nav ul li.active a,
#header .nav ul li:hover a,
#header .nav ul li:focus a {
	color: #2C3594;
}

#header .nav-right {
	position: relative;
	float: right;
}

#header .nav-right ul li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;

}

#header .nav-right ul li a {
	padding: 0 15px;
}

#header .nav-right ul li:last-child a {
	padding-right: 0;
}

#header .nav-right ul li a .rounded {
	border-radius: 50%;
	box-shadow: 1px 2px 10px #00000038;
}

.nav .nav-toggle{
	display: none
}

.notification {
	box-sizing: border-box;
	background-color: #FFFFFF;
	padding: 25px;
	float: left;
	max-width: 400px;
	position: absolute;
	z-index: 2;
	width: 400px;
	right: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	height: 0;
	visibility: hidden;
	transition: all 0.3s linear;
}

.notification.show {
	opacity: 1;
	height: auto;
	visibility: visible;
}

.notification ul {
	padding-left: 0;
	background-color: #EBEBEB;
	border-radius: 36px;
}

.notification ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 21px;
	border-radius: 36px;
	cursor: pointer;
	color: #78849E;
}

.notification ul li.active,
.notification ul li:hover {
	background-color: #1B1464;
	color: #fff;
}

.notification .tab-noti {
	margin-bottom: 25px;
}

.notification .link-all {
	position: relative;
	display: block;
	text-align: center;
	clear: both;
	color: #1a0f66;
}

.notification .list {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
	margin-bottom: 15px;
}

.notification .list .time {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #78849E;
	font-size: 0.8rem;
}

.notification .list .img-profile .name {
	padding-left: 62px;
	box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
	padding: 20px 15px 15px 57px;
	box-sizing: border-box;
	border-radius: 10px;
}

.notification .list .img-profile .name p {
	color: #535353;
}

.notification .list .img-profile .name h3 span {
	color: #78849E;
	font-size: 0.8rem;
}

.notification .list .img-profile img {
	float: left;
	position: absolute;
	margin: 5px 10px 5px 0px;
	border: 2px solid #EFEFEF;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}

#content {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	float: left;
	margin-top: 10px;
	z-index: 1;
	height: 100%;
}

#content .content-left {
	box-sizing: border-box;
	float: left;
	width: 347px;
	position: absolute;
	z-index: 1;
}

.profile {
	color: #fff;
	height: 406px;
	text-align: center;
}

.profile .upload-cover {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.profile h3 {
	margin-bottom: 10px;
	font-weight: 400;
}

.profile p {
	margin-top: 0;
}
.forgot-pass{
	margin-bottom: 26px;
	font-size: 0.7rem;
	margin-top: 9px !important;
	opacity: 0.7;
	cursor: pointer;
}
.profile .info p {
	margin: 0;
}

.profile .info .num {
	font-size: 1.2rem;
}

.profile .info .text {
	font-size: 0.7rem;
	color: #D3D3D3;
}

.profile .info .my-rank {
	position: absolute;
	text-align: center;
	right: -30px;
	top: 50%;
	transform: translateY(-50%);
}

.my-rank img {
	display: block;
	margin: auto;
}

.my-rank.down {
	color: #6AE7BD;
}

.my-rank.up {
	color: #6AE7BD;
}

.profile ul {
	padding-left: 0;
}

.profile ul li {
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.profile .img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: auto;
	position: relative;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 3px solid #EFEFEF;
}

.mission-profile {
	height: auto;
}

.mission-profile .info {
	display: inline-block;
	padding: 20px 50px;
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 70px;
	border-radius: 5px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.mission-profile.profile .info .text {
	color: #fff;
	letter-spacing: 1px;
	margin-top: 9px;
}

.mission-profile.profile ul li {
	margin: 0 30px;
	position: relative;
}

.mission-profile.profile ul li:after {
	content: "";
	position: absolute;
	right: -35px;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.mission-profile.profile ul li:last-child:after {
	display: none;
}

.mission-profile.profile .info .my-rank {
	right: -22px;
}

.btn-create {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 25px 0;
}

.profile .btn-create button {
	box-sizing: border-box;
	background-color: #85f6ff;
	background-image: linear-gradient(to bottom, #85f6ff, #6ae7ff, #57d8ff, #54c6ff, #61b4ff);
	position: relative;
	padding: 5px 30px;
	border-radius: 36px;
	border: 0;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	font-size: 0.9rem;
	cursor: pointer;
	display: inline-block;
	min-width: 140px;
}

.profile .btn-create button:focus {
	outline: none;
}

.btn-create button .pic {
	float: left;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.btn-create button span {
	float: left;
	color: #fff;
	font-weight: 200;
	padding-left: 25px;
}

#content .content-right {
	position: relative;
	padding-right: 60px;
	width: 100%;
	float: right;
	padding-left: 350px;
	box-sizing: border-box;
}

.ranking {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.top-rank .ranking-pic {
	width: 280px;
}

.top-rank {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	padding-top: 100px;
	width: 350px;
	margin: auto;
}

.top-rank .rank {
	position: absolute;
}

.top-rank .rank .rank-img {
	position: relative;
	width: 100%;
	margin-bottom: 5px;
}

.top-rank .rank .rank-img .img {
	box-shadow: 0 0 85px #00CEEF;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.top-rank .rank1 .rank-img .img {
	width: 50px;
	height: 50px;

}

.top-rank .rank2 .rank-img .img,
.top-rank .rank3 .rank-img .img {
	width: 40px;
	height: 40px;
}

.top-rank .rank .rank-img .img img {
	width: 100%;
}

.top-rank .rank .rank-img .crown {
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%)
}

.top-rank .rank .rank-info {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 0 5px;
	z-index: 2;
	text-align: center;
}

.top-rank .rank .rank-info p {
	margin: 0;
}

.top-rank .rank .rank-info .name {
	color: #ffffff;
	font-weight: 200;
	font-size: 0.6rem;
}

.top-rank .rank .rank-info .point {
	color: #FFE67E;
	font-size: 0.9rem;
}

.top-rank .rank1 {
	left: 39%;
	top: 12%;
	width: 70px;
}

.top-rank .rank2 {
	left: 19%;
	top: 12%;
	width: 56px;
}

.top-rank .rank3 {
	right: 23%;
	top: 32%;
	width: 60px;
}

.top-rank .aura {
	position: absolute;
	bottom: -14px;
	width: 100%;
	height: 100%;
	background-image: url(../images/aura.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	z-index: 1;
}

.top-rank .rank2 .aura {
	border-bottom-right-radius: 23px;
	border-bottom-left-radius: 23px;
}

.top-rank .rank3 .aura {
	border-bottom-right-radius: 29px;
	border-bottom-left-radius: 29px;
}

.content-right .wrapper {
	position: relative;
	display: block;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 1px 1px 16px #00000021;
	width: 100%;
	float: left;
	margin-bottom: 50px;
}



.content-right .wrapper .col-left {
	float: left;
	box-sizing: border-box;
	width: 60%;
	padding: 20px;
}

.content-right .wrapper .col-right {
	width: 40%;
	float: left;
	box-sizing: border-box;
	padding: 20px;
}

.feed .content-search label {
	width: 150px
}

.feed .content-search .text-field {
	padding-left: 150px
}

.col-left .content-search {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.content-search label {
	position: absolute;
	left: 0;
	color: #2C3594;
	font-size: 1.3rem;
	font-weight: 400;
	padding: 12.5px 0;
	width: 250px;
}

.content-search input {
	background-color: #EBEBEB;
	box-sizing: border-box;
}

.content-search .text-field {
	position: relative;
	width: 100%;
	padding-left: 250px;
	box-sizing: border-box;
	float: left;
}

.content-filter {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	float: left;
}

.content-filter ul {
	display: block;
	padding-left: 0;
}

.content-filter ul li {
	display: inline-block;
}

.content-filter ul li a {
	background-color: #FAFAFA;
	padding: 11px 20px 13px 23px;
	border-radius: 50px;
	color: #78849E;
	text-decoration: none;
	float: left;
	font-size: 0.9rem;
	margin-bottom: 5px;
	border: 1px solid #EBEBEB;
}

.content-filter ul li.active a,
.content-filter ul li:hover a {
	background-color: #1B1464;
	color: #fff;
	text-decoration: none;
}

.content-feed {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	float: left;
	padding-left: 0;
}

.content-feed .box-feed {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	float: left;
	clear: both;
	padding: 15px;
	box-shadow: 0px 5px 15px #00000014;
	margin-bottom: 30px;
}

.box-feed .feed-gallery {
	position: relative;
	width: 100%;
	height: 350px;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.box-feed .feed-gallery>div {
	float: left;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	margin: 2px;
}

.box-feed .feed-gallery.style1>div {
	width: 100%;
	height: 100%;
}

.box-feed .feed-gallery.style2>div {
	width: 47.2%;
	height: 100%;
}

.box-feed .feed-gallery.style3>div {
	width: 47.2%;
	height: 50%;
}

.box-feed .feed-gallery.style3>div:first-child {
	width: 47.2%;
	height: 100%;
}

.box-feed .feed-gallery.style4>div {
	width: 47.2%;
	height: 50%;
}

.box-feed .feed-gallery .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	text-align: center;
}

.box-feed .feed-gallery .overlay span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 1.4rem;
}

.box-feed .feed-info {
	box-sizing: content-box;
	width: 100%;
	position: relative;
	float: left;
	clear: both;
}

.feed-info {
	float: left;
}

.feed-info .img,
.feed-info .name {
	float: left;
}

.feed-info .img {
	margin-right: 10px;
	width: 54px;
}

.feed-info .name {
	padding: 8px 0;
}

.feed-info .name h3 {
	margin: 0;
}

.feed-info .name h3 a {
	color: #1B1464;
	font-weight: 400;
	text-decoration: none;
}

.feed-info .name p {
	color: #D3D3D3;
	margin: 0;
	font-size: 0.9rem;
}

.feed-info .cate {
	margin-bottom: 0;
	text-align: right;
}

.feed-info .cate ul {
	margin-bottom: 0;
	margin-top: 30px;
}

.feed-info .cate ul li {
	display: inline-block;
	color: #78849E;
	vertical-align: super;
	margin: 0 4px;
	font-size: 0.9rem;
}

.feed-text {
	font-family: sans-serif;
	position: relative;
	float: left;
	width: 100%;
	letter-spacing: 0;
	font-size: 0.9rem;
	line-height: 24px;
}

.feed-text h4 {
	color: #1B1464;
	font-weight: 500;
	font-size: 1.1rem;
	margin-bottom: 0;
}

.feed-text img {
	width: 100%;
}

.feed-meta {
	position: relative;
	float: left;
	width: 100%;
}

.feed-meta ul {
	padding-left: 0;
}

.feed-meta ul li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 30px;
	color: #78849E;
	font-size: 0.9rem;
	margin-right: 30px;
	cursor: pointer;
}

.feed-meta ul li::before {
	position: absolute;
	left: 0;
	top: 0px;
}

.feed-meta ul li.like::before {
	content: url('../images/like.png');
}

.feed-meta ul li.like.active::before {
	content: url('../images/like-active.png');
}

.feed-meta ul li.views {
	padding-left: 40px;
}

.feed-meta ul li.views::before {
	content: url('../images/eye.png');
}

.feed-meta ul li.comment {
	padding-left: 35px;
}

.feed-meta ul li.comment::before {
	content: url('../images/comment.png');
}

h2.title {
	color: #2C3594;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
	padding: 12.5px 0;

}

h2.title span {
	float: right;
	font-size: 14px;
	margin-top: 5px;
	cursor: pointer;
	position: relative;
	padding-right: 25px;
}

h2.title span:after {
	content: "";
	position: absolute;
	right: 0;
	background-image: url(../images/icon-right-chevron.png);
	top: 50%;
	width: 15px;
	height: 8px;
	background-repeat: no-repeat;
	transform: translateY(-50%);
}

.project {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.project-group {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.project-list {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	clear: both;
	height: 60px;
	box-shadow: 0px 5px 16px #ededed;
	border-radius: 10px;
	margin-bottom: 15px;
}

.project-list .date {
	float: left;
	height: 100%;
	width: 60px;
	text-align: center;
	margin-right: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.project-list.draft .date {
	background-color: #78849E;
}

.project-list.raw .date {
	background-color: #1B1464;
}

.project-list.implement .date {
	background-color: #85f6ff;
	background-image: linear-gradient(to right bottom, #85f6ff, #6ae7ff, #57d8ff, #54c6ff, #61b4ff);
}

.project-list.success .date {
	background-color: #6aeade;
	background-image: linear-gradient(to right bottom, #6aeade, #65e9d4, #63e8c8, #65e7bb, #6ae5ad);
}

.project-list .date p {
	margin: 0;
	color: #fff;
	line-height: 1.4;
}

.project-list .date .month {
	margin-top: 12px;
	font-size: 0.8rem;
	font-weight: 200;
}

.project-list .date .day {
	font-size: 0.9rem;
	font-weight: 400;
}

.project-list .info {
	padding: 12px 0;
	position: relative;
}

.project-list .info h4 {
	margin: 0;
	font-weight: 400;
	color: #1B1464;
}

.project-list .info p {
	margin-top: 5px;
	margin-bottom: 0;
	color: #78849E;
	font-size: 0.8rem;
}

.project-list .edit {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #78849E;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.project-list.implement .edit {
	background-color: #DDBF42;
}

.project-list.implement.completed .edit {
	background-color: #7DC45F;
}

.project-list .edit img {
	width: 13px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.project-list .top {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.project-list .info ul {
	display: block;
	padding-left: 0;
	margin: 0;
}

.project-list.approved {
	padding: 15px 10px;
	height: auto;
	float: left;
}

.project-list.approved .top {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
	float: left;
}

.project-list.approved .bottom {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-top: 15px;
	float: left;

}

.project-list.approved .bottom .tag {
	position: absolute;
	font-size: 0.8rem;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #35476F;
	cursor: pointer;
}

.project-list.approved .top button {
	background-image: linear-gradient(to right bottom, #5dd3ff, #4ecdff, #3ec8ff, #2bc2ff, #0dbcff);
	border: none;
	border-radius: 36px;
	padding: 10px 15px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.8rem;
}

.project-list.approved .top button:focus,
.project-list.approved .top button:hover {
	outline: none;
	opacity: 0.7;
	cursor: pointer;
}

.project-list .info ul li {
	display: inline-block;
	font-size: 0.7rem;
	position: relative;
	padding-right: 15px;
}

.project-list .info ul li:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #78849E;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.project-list .info ul li:last-child:after {
	display: none;
}

.project-list .info ul li.active {
	color: #7FBF62;
	text-transform: uppercase;
}

.rank-list {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 50px;
	float: left;
}

.tab-rank {
	display: block;
	padding-left: 0;
}

ul.tab-rank li {
	display: inline-block;
}

ul.tab-rank li span {
	color: #78849E;
	display: block;
	padding: 7px 10px;
	font-size: 0.8rem;
	border-radius: 36px;
	cursor: pointer;
}

ul.tab-rank li.active span,
ul.tab-rank li:hover span {
	color: #fff;
	background-color: #1B1464;
}

.rank-list .list {
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 100%;
}

.rank-list .list .list-profile {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding-left: 30px;
	padding-right: 150px;
	float: left;
}

.rank-list .list .img-profile {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.rank-list .list .list-right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.rank-list .list .list-right .order,
.rank-list .list .list-right .point {
	float: left;
}

.rank-list .list .number {
	width: 30px;
	height: 100%;
	position: absolute;
	left: 0;
	text-align: center;

}

.rank-list .list .number span {
	position: absolute;
	line-height: 1.8;
	background-color: #707070;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	color: #fff;
	font-size: 0.6rem;
	display: block;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.img-profile {
	position: relative;
	float: left;
}

.img-profile img {
	float: left;
	position: absolute;
	margin: 5px 10px 5px 0px;
	border: 2px solid #EFEFEF;
	border-radius: 50%;
}

.img-profile .name {
	float: left;
	padding: 6px 0;
	padding-left: 40px;
}

.img-profile .name h3 {
	margin: 0;
	color: #1B1464;
	font-weight: 400;
	text-decoration: none;
	font-size: 0.9rem;
}

.img-profile .name p {
	color: #D3D3D3;
	margin: 0;
	font-size: 0.8rem;
}

.list-point {
	background-image: url(../images/icon-coin.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-size: 17px;
	font-size: 0.9rem;
	float: left;
}

.order {
	position: relative;
	padding-left: 15px;
	width: 15px;
	height: 18px;
	color: #6AE5AD;
	margin: 0 15px;
}

.order:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;

	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.rank-up {
	color: #6AE5AD;
}

.rank-up:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #6AE5AD;
}

.rank-down {
	color: #ED1C24;
}

.rank-down:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ED1C24;

}

.add-content {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.add-content .wrapper:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 25px;
	height: 25px;
	background-color: #2C3594;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 1;

}

.add-content .wrapper:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -75px;
	width: 25px;
	height: 25px;
	background-color: #2C3594;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.add-content .col-left:before {
	content: "";
	position: absolute;
	width: 13px;
	height: 81px;
	background-color: #2C3594;
	left: 50%;
	transform: translateX(-50%);
	top: 98%;
	z-index: 1;
}

.add-content:last-child .col-left:before,
.add-content:last-child .wrapper:before,
.add-content:last-child .wrapper:after {
	display: none;
}


.add-content .col {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-right: 15px;
}

.row .col:last-child {
	padding-right: 0;
}

.row .col-row {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding-right: 15px;
}

.row .col-4 {
	width: 33.33%;
	float: left;
}

.form-group {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	position: relative;
}

.form-group.inline button {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	background: transparent;
	color: #D0D0D0;
}

.form-group.inline button:focus {
	outline: none;
}

.add-cover {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 300px;
	background-color: rgba(120, 132, 150, 0.3);
	margin-bottom: 15px;
}

.add-cover .inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #78849E;
	font-size: 0.9rem;

}

.add-content textarea.form-custom {
	height: 200px;
	border-radius: 12px;
	padding: 15px 25px;
}

.add-content .form-custom:focus {
	outline: none;
}

.add-content label {
	color: #2b2e95;
	font-weight: 400;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.add-content .cate-news {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
}

.add-content .cate-news span {
	display: block;
	float: left;
	background-color: #FAFAFA;
	padding: 11px 20px 13px 23px;
	border-radius: 50px;
	color: #78849E;
	text-decoration: none;
	float: left;
	font-size: 0.9rem;
	margin-bottom: 5px;
	border: 1px solid #EBEBEB;
	margin-right: 10px;
	cursor: pointer;
}

.add-content .cate-news span.active,
.add-content .cate-news span:hover {
	background-color: #1B1464;
	color: #fff;
}

.add-content .upload {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.upload-gallery {
	margin-right: 25px;
}

.add-content .btn {
	margin: 25px 0;
}

.add-content .inline-group label {
	padding: 10px 0;
	margin-right: 15px;
}

.add-content .inline-group label,
.add-content .inline-group>div {
	width: auto;
}

.add-content .inline-group label,
.add-content .inline-group>div {
	display: inline;
	float: left;
}

.step {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	margin: 40px 0 40px 0;
}

.step .step-check {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #CDCDCD;
	vertical-align: middle;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
}

.add-content.active .step .step-check {
	background-color: #2C3594;
}

.step .step-check img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.step button {
	background-color: #CDCDCD;
	color: #fff;
	padding: 7px 40px;
	height: 50px;
	border-radius: 36px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	cursor: pointer;
}

.add-content.active .step button {
	background-color: #2C3594;
}

.step button:hover {
	background-color: #2C3594;
}

.step button:focus {
	outline: none;
}

.add-content .add {
	border-radius: 50%;
	background-color: #78849E;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
}

.add-content .add img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.add-content .team {
	position: relative;
	box-sizing: border-box;
}

.add-content .team .list {
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.add-content .team .list .remove {
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
}


.add-content .team .list .remove img {
	width: 7px;
}

.add-content .team .img-profile .name h3 {
	font-size: 0.7rem;
}

.add-content .team .img-profile .name p {
	font-size: 0.6rem;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.btn {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 65px;
}

.images-result {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	float: left;
}

.images-result .img-list {
	display: inline-block;
	max-width: 100px;
	vertical-align: top;
	margin-right: 5px;
	float: left;
	position: relative;
}

.images-result .img-list img {
	width: 100%;
}

.images-result .img-list span {
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url(../images/remove.png);
	right: -5px;
	top: -5px;
	background-color: #78849E;
	border-radius: 50%;
	background-position: center;
}

/* login-wrapper */

.login-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.login-wrapper .logo {
	display: block;
	margin: auto;
}

.login-wrapper .box {
	position: absolute;
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.login-wrapper h1 {
	color: #fff;
	font-weight: 300;
	text-align: center;
	margin-bottom: 50px;
}

.login-wrapper .form-submit {
	position: relative;
	width: 100%;
	text-align: center;
}

.login-wrapper .form-submit button {
	background-image: linear-gradient(to right bottom, #0dbcff, #2bc2ff, #3ec8ff, #4ecdff, #5dd3ff);
	border: none;
	color: #fff;
	cursor: pointer;
}

.login-wrapper .form-group {
	position: relative;
	width: 100%;
}

.login-wrapper .form-group button {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	background: transparent;
}

.login-wrapper .box .text-right {
	text-align: right;
	padding-right: 50px;
	color: #fff;
}

/*info page*/

main.info {
	background-image: url('../images/bg-info.png');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.info #header.main:before {
	display: none;
}

.info-bottom .box {
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	border-radius: 24px;
	padding: 40px 30px 30px 30px;
	display: none;
}

.info-bottom .box.active {
	display: block;
}

.info-bottom .box h4 {
	text-align: center;
	font-size: 1.3rem;
	color: #1B1464;
	font-weight: 500;
	margin-top: 0;
}

.info .wrapper {
	box-sizing: border-box;
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.info .wrapper .dots {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.info .wrapper .dots ul {
	display: block;
	padding-left: 0;
	text-align: center;
}

.info .wrapper .dots ul li {
	display: inline-block;
}

.info .wrapper .dots ul li span {
	width: 15px;
	height: 15px;
	background-color: #fff;
	display: block;
	border-radius: 50%;
	cursor: pointer;
}

.info .wrapper .dots ul li.active span {
	background-color: #19D3FF;
}

.info .info-bottom {}

.info .info-top {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 300px;
	height: 300px;
	margin: auto;
}

.info .info-top>div {
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	opacity: 0.5;
	width: 200px;
	border: 5px solid #E2E2E2;
	background-color: #fff;
	opacity: 1;
	height: 200px;
	top: 0;
	text-align: center;

}

.info .info-top>div.active {
	border: 5px solid #87C46C;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 250px;
	opacity: 1;
	z-index: 1;
}

.info .info-top>div.next {
	right: -31%;
	top: 11%;
	opacity: 1;
}

.info .info-top>div.prev {
	left: -31%;
	top: 11%;
	opacity: 1;
}

main.mission {
	background-image: url(../images/bg-mission.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.mission h4 {
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 200;
	margin-bottom: 0;
}

.mission #header.main:before {
	display: none;
}

.mission .inner {
	position: relative;
	width: 366px;
	height: 465px;
	margin: auto;
	text-align: center
}

.mission .point {
	position: absolute;
	width: 140px;
	height: 126px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.mission .point.p1 {
	left: -17%;
	top: -15%;
	background-image: url('../images/point1.png')
}

.mission .point.p2 {
	right: -12%;
	top: -7%;
	background-image: url(../images/point2.png);
}

.mission .point.p3 {
	top: 9%;
	left: 20%;
	background-image: url(../images/point3.png);
}

.mission .point.p4 {
	right: -18%;
	top: 29%;
	background-image: url(../images/point4.png);
}

.mission .point.p5 {
	left: 9%;
	top: 44%;
	background-image: url(../images/point5.png);
}

.mission .point.p6 {
	left: 47%;
	bottom: -12%;
	background-image: url(../images/point6.png);
}

.mission .point .step-point {
	left: 37%;
	top: 24%;
	width: 25px;
	height: 25px;
	position: absolute;
	display: block;
	background-image: url(../images/icon-lock.png);
	background-size: 9px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #78849E;
}

.mission .point.p6 .step-point {
	left: 40%;
	top: 5%;
}

.mission .point.active .step-point {
	background-color: #7DC45F;
	background-image: url(../images/icon-check.png);
}

/*MODAL*/
.modal {
	position: fixed;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	min-height: 70%;
}

.modal.lg {
	width: 600px;
}

.modal-active {
	overflow: hidden;
}

.modal.active {
	opacity: 3;
	visibility: visible;
}

.modal .close {
	position: absolute;
	left: 15px;
	top: 15px;
	cursor: pointer;
	font-size: 0.8rem;
}

.modal .done {
	position: absolute;
	right: -15px;
	cursor: pointer;
	font-size: 0.8rem;
	z-index: 1;
}

.modal .modal-header {
	padding-top: 20px;
	background-image: linear-gradient(to right bottom, #32c4f3, #00a1e3, #007dce, #0058b4, #2c3192);
	float: left;
	width: 100%;
	padding: 15px 15px;
	min-height: 15px;
}

.modal .modal-body {
	background-color: #fff;
	width: 100%;
	float: left;
	padding: 15px;
}

.modal-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.modal-overlay.active {
	display: block;
	opacity: 1;
	visibility: visible;

}

.modal h6 {
	font-size: 1.2rem;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 300;
	text-align: center;
}

.modal-bg {
	background-image: linear-gradient(to left top, #2c3192, #0058b4, #007dce, #00a1e3, #32c4f3);
}

.invite-list {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
	max-height: 400px;
	overflow: auto;
}

.invite-list .list {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
}

.invite-list .list p {
	color: #78849E;
}

.modal input {
	height: 40px;
}

.invite-list .check {
	box-sizing: border-box;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #CDCDCD;
	border-radius: 50%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.invite-list .check.active {
	background-color: #7DC45F;
}

.invite-list .check img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-bg .bg-padding {
	padding: 30px;
	float: left;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.modal-bg .lead {
	font-weight: 300;
	text-align: center;
	padding: 30px 0;
}

.modal-bg .lead-1 {
	font-size: 1.5rem;
	margin: 0;
}

.modal-bg .lead-2 {
	font-size: 1.3rem;
	font-weight: 100;
	margin: 0;
}

.modal-bg .btn-done {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
	padding: 30px 0;
	text-align: center;
}

.modal-bg .btn-done button {
	background: #5DD3FF;
	color: #fff;
	border-radius: 36px;
	padding: 15px 60px;
	text-transform: uppercase;
	border: none;
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	box-shadow: 0 0 10px #5DD3FF;
}

.modal-bg .btn-done button:focus {
	outline: none;
}

.modal .podium {
	position: relative;
	text-align: center;
	width: 300px;
	box-sizing: border-box;
	height: 350px;
	margin: auto;
}

.modal .podium img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.modal .podium .grow {
	position: absolute;
	bottom: 31%;
	left: 0;
	right: 0;
	margin: auto;
}

.done.in {
	top: 20px;
	right: -12px;
}

.progress-bar {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	float: left;
	padding-bottom: 30px;
}

.progress-bar .top {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.7rem;
	float: left;
	height: 15px;
}

.progress-bar .top .left {
	position: absolute;
	left: 0;
}

.progress-bar .top .right {
	position: absolute;
	right: 0;
}

.progress-bar .bottom {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.7rem;
	float: left;
	height: 15px;
}

.progress-bar .bottom .left {
	position: absolute;
	left: 0;
}

.progress-bar .bottom .right {
	position: absolute;
	right: 0;
}

.progress-bar .bar {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 12px;
	float: left;
	background-color: #EBEBEB;
	border-radius: 16px;
	margin: 5px 0;

}

.progress-bar .bar span {
	display: block;
	position: absolute;
	width: 0%;
	background-color: #6AE5AD;
	background-image: linear-gradient(to right, #6aeada, #66e9d0, #64e8c5, #66e7ba, #6ae5ad);
	height: 100%;
	border-radius: 16px;
}

.progress-bar .bar.w-step-1 span {
	width: 16.66%;
}

.progress-bar .bar.w-step-2 span {
	width: 33.33%;
}

.progress-bar .bar.w-step-3 span {
	width: 49.98%;
}

.progress-bar .bar.w-step-4 span {
	width: 66.64%;
}

.progress-bar .bar.w-step-5 span {
	width: 83.33%;
}

.progress-bar .bar.w-step-6 span {
	width: 100%;
}

.gallery-lightbox {
	position: relative;
	width: 100%;
}

.gallery-lightbox .img img {
	width: 100%;
}

.gallery-lightbox .nav span {
	display: inline;
	padding: 5px;
	position: absolute;
	background-image: linear-gradient(to right bottom, #32c4f3, #00a1e3, #007dce, #0058b4, #2c3192);
	transform: translateY(-50%);
	opacity: 0.7;
	cursor: pointer;
}

.gallery-lightbox .nav .next {
	right: -10px;
	top: 50%;
}

.gallery-lightbox .nav .prev {
	left: -10px;
	top: 50%;
}

.gallery-lightbox .nav span:hover {
	opacity: 1;
}

.gallery-lightbox .nav span img {
	width: 20px;
}

.spirit-menu span{
	letter-spacing: 0;
	margin-left: -5px;
}
.spirit-menu span:first-child {
	color: #A1E0FF;
}

.spirit-menu span:nth-child(2) {
	color: #FFFF00;
}

.spirit-menu span:nth-child(3) {
	color: #FFC100;
}

.spirit-menu span:nth-child(4) {
	color: #26CE22;
}

.spirit-menu span:nth-child(5) {
	color: #2A96FF;
}

.spirit-menu span:nth-child(6) {
	color: #FF6600;
}

@media screen and (max-width: 1200px) {
	.content-right .wrapper .col-left,
	.content-right .wrapper .col-right {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {

	.nav .nav-toggle{
		display: block;
	}
	.content-left .rank-list {
		display: none;
	}
	#content .content-left {
		width: 100%;
		position: relative;
	}
	#content .content-right {
		padding-right: 15px;
		padding-left: 15px;
	}
}